<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美联—发现全球独立设计，全球奢侈品购物网站,奢侈品网购，正品折扣,尽在美联购物</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/dior.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<script src="../js/jquery-1.12.4.min.js"></script>
	<script src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../dist/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/language/zh_CN.js"></script>
</head>
<body ng-app="app">
	<div app-head></div>

	<div class="w banner">
		<div class="logo"><img src="../img/logo.png" alt=""></div>
		<div class="searchArea ">
			<input type="text" placeholder="请输搜索关键字" class="fl"> <span class="fr"></span>
		</div>
	</div>

	<div class="nav">
		<div class="w navbar">
			<ul class="navList">
				<li class="item fl">
					<a href="../index.html">首页</a>

				</li>
				<li class="item fl">
					<a href="nv.html">女士</a>
					
				</li> 
				<li class="item fl">
					<a href="javascript:;">男士</a>
				</li>
				<li class="item fl">
					<a href="javascript:;">品牌</a>
				</li>
			</ul>
		</div>
		<div class="itemList">
			<ol class="w">
				
			</ol>
		</div>
	</div>

	<div class="bgGray" style="padding-top: 20px;">
		<h3 class="w" style="height: 70px;background: #fff;margin-bottom: 20px;"><span style="font-size: 24px;color:#333;line-height: 70px;padding-left: 20px;font-weight: bold;">国际品牌</span></h3>
		<div class="w">
			<div class="productList clearfix">
				<div class="productCag fl">
					<div class="goodsClass">
						<div><span>商品分类</span><span class="plus">-</span></div>
						<ul>
							<li>包袋</li>
							<li>配饰</li>
							<li>鞋履</li>
							<li>美妆个护</li>
							<li>腕表</li>
							<li>服装</li>
							<li>品质家居</li>
							<li>厨房天地</li>
							<li>户外旅行</li>
							<li>创意生活</li>
							
						</ul>
					</div>
					<div class="goodsClass">
						<div><span>性别</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>品牌</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>价格</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>颜色</span><span class="plus">+</span></div>
					</div>
				</div>
				<div class="productMain fr">
					<div class="prdTop clearfix">
						<ul class="clearfix fl">
							<li class="first" style="color: #555;font-weight: bold;">排序:</li>
							<li>新品</li>
							<li>人气</li>
							<li>价格</li>
						</ul>
						<div class="navigation fr">
							<span>12个结果</span>
							<a href="javascript:;" class="cur">1</a>
							<!-- <a href="javascript:;" style="margin-right: 35px;">2</a>
							<a href="javascript:;" class="cut">></a> -->
						</div>
					</div>
					<div class="prods clearfix">
						<ul class="clearfix">
							<li>
								<img src="../img/b1.jpg" alt="">
								<div class="price">
									<p class="tit">Prada 普拉达</p>
									<p>尼龙布配皮 男仕 平底鞋</p>
									<span>￥4000.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b2.jpg" alt="">
								<div class="price">
									<p class="tit">Prada 普拉达</p>
									<p>牛皮 男士 套脚休闲皮鞋</p>
									<span>￥3900.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b3.jpg" alt="">
								<div class="price">
									<p class="tit">Prada 普拉达</p>
									<p>牛皮 女士 中跟皮鞋</p>
									<span>￥5400.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b4.jpg" alt="">
								<div class="price">
									<p class="tit">Gucci 古驰</p>
									<p>2017年全新款式时尚女士光...</p>
									<span>￥1620.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b5.jpg" alt="">
								<div class="price">
									<p class="tit">Moncler 蒙口</p>
									<p>17新款 羽绒 儿童 连帽羽绒服</p>
									<span>￥3313.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b6.jpg" alt="">
								<div class="price">
									<p class="tit">Versace Collection 范思哲...</p>
									<p>羊毛混纺 男士 套装西服</p>
									<span>￥6000.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b7.jpg" alt="">
								<div class="price">
								<p class="tit">Prada 普拉达</p>
									<p>【新品上市】黑色连帽拼接...</p>
									<span>￥5700.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b8.jpg" alt="">
								<div class="price">
									<p class="tit">Prada 普拉达</p>
									<p>桑蚕丝混纺 男士 长袖针织/...</p>
									<span>￥3000.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b9.jpg" alt="">
								<div class="price">
									<p class="tit">Dsquared2 D二次方</p>
									<p>棉质混纺 男士 牛仔裤</p>
									<span>￥2400.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b10.jpg" alt="">
								<div class="price">
									<p class="tit">Miu Miu 缪缪</p>
									<p>【2017年新款】深蓝色羊毛...</p>
									<span>￥2400.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b11.jpg" alt="">
								<div class="price">
									<p class="tit">Salvatore Ferragamo 菲拉格慕</p>
									<p>女士 单鞋</p>
									<span>￥3300.00</span>
								</div>
							</li>
							<li>
								<img src="../img/b12.jpg" alt="">
								<div class="price">
									<p class="tit">BRAND UNIQUE </p>
									<p>针织 女士 短袖针织/毛杉</p>
									<span>￥1710.00</span>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<div class="w page">
			<ul>
				<li class="first">100%正品保证</li>
				<li class="second">7天无忧退货</li>
				<li class="last">九年专注,品质保障</li>
			</ul>
		</div>
	</div>
</body>
<script src="../js/index.js"></script>
<script >
	$(function(){
		ML.dior && ML.dior.init();
	})
</script>
</html>
