<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美联—发现全球独立设计，全球奢侈品购物网站,奢侈品网购，正品折扣,尽在美联购物</title>
	<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<script src="../js/jquery-1.12.4.min.js"></script>
	<script src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../dist/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/language/zh_CN.js"></script>
</head>
<body ng-app="app">
	
	<div app-head></div>

	<div class="w banner">
		<div class="logo"><img src="../img/logo.png" alt=""></div>
		<div class="searchArea ">
			<input type="text" placeholder="请输搜索关键字" class="fl"> <span class="fr"></span>
		</div>
	</div>

	<div class="nav">
		<div class="w navbar">
			<ul class="navList">
				<li class="item fl">
					<a href="javascript:;">首页</a>

				</li>
				<li class="item fl">
					<a href="javascript:;">女士</a>
					
				</li> 
				<li class="item fl">
					<a href="javascript:;">男士</a>
				</li>
				<li class="item fl">
					<a href="javascript:;">品牌</a>
				</li>
			</ul>
		</div>
		<div class="itemList">
			<ol class="w">
				
			</ol>
		</div>
	</div>

	<div class="swiper">
		<div class="w">
			<div class="box">
				<ul class="imgList">
					<li><a href="swiper4.html"><img src="../img/1.jpg"  /></a></li>
					<li><a href="swiper3.html"><img src="../img/2.jpg" /></a></li>
					<li><a href="swiper1.html"><img src="../img/3.jpg"  /></a></li>
					<li><a href="swiper2.html"><img src="../img/4.jpg" /></a></li>
					
				</ul>
				<div class="leftBtn"></div>
				<div class="rightBtn"></div>
				
			</div>
		</div>
	</div>
	<div class="w special">
		<div class="specialHead">
			<div class="line">
				
			</div>
			<h3>
				<span>特别推荐</span><br>
				<span>Sepcial Offer</span>
			</h3>
		</div>
	</div>
	<div class="specialItem w clearfix">
		<div class="leftBox fl">
			<div><img src="../img/11.jpg" alt=""></div>
			<div class="mt12"><img src="../img/33.jpg" alt=""></div>
		</div>
		<div class="midBox fl">
			<div><img src="../img/22.jpg" alt=""></div>
		</div>
		<div class="rightBox fl">
			<div><img src="../img/44.jpg" alt=""></div>
			<div class="mt12"><img src="../img/55.jpg" alt=""></div>
		</div>
	</div>

	<!-- ======== -->
	<div class="w special">
		<div class="specialHead">
			<div class="line">
				
			</div>
			<h3>
				<span>男士精选</span><br>
				<span>For Him</span>
			</h3>
		</div>
	</div>
	<div class="specialItem w clearfix">
		<div class="leftBox fl">
			<div><img src="../img/111.jpg" alt=""></div>
			<div class="mt12"><img src="../img/222.jpg" alt=""></div>
		</div>
		<div class="midBox fl">
			<div><img src="../img/333.jpg" alt=""></div>
		</div>
		<div class="rightBox fl">
			<div><img src="../img/444.jpg" alt=""></div>
			<div class="mt12"><img src="../img/555.jpg" alt=""></div>
		</div>
	</div>

	<!-- ======== -->
	<div class="w special">
		<div class="specialHead">
			<div class="line">
				
			</div>
			<h3>
				<span>女士精选</span><br>
				<span>For Her</span>
			</h3>
		</div>
	</div>
	<div class="specialItem w clearfix">
		<div class="leftBox fl">
			<div><img src="../img/12.jpg" alt=""></div>
			<div class="mt12"><img src="../img/13.jpg" alt=""></div>
		</div>
		<div class="midBox fl">
			<div><img src="../img/14.jpg" alt=""></div>
		</div>
		<div class="rightBox fl">
			<div><img src="../img/15.jpg" alt=""></div>
			<div class="mt12"><img src="../img/16.jpg" alt=""></div>
		</div>
	</div>


	<div class="footer">
		<div class="w page">
			<ul>
				<li class="first">100%正品保证</li>
				<li class="second">7天无忧退货</li>
				<li class="last">九年专注,品质保障</li>
			</ul>
		</div>
	</div>
</body>
<script src="../js/index.js"></script>
<script >
	$(function(){
		ML.index && ML.index.init();
	})
</script>
</html>
