<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美联—发现全球独立设计，全球奢侈品购物网站,奢侈品网购，正品折扣,尽在美联购物</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/dior.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<script src="../js/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="top">
		<div class="w">
			<p class="fr">
				<a href="login.html">登录</a>
				<a href="register.html">注册</a>
				<a href="shopping.html"><em></em>购物袋(0)</a>
			</p>
		</div>
	</div>

	<div class="w banner">
		<div class="logo"><img src="../img/logo.png" alt=""></div>
		<div class="searchArea ">
			<input type="text" placeholder="请输搜索关键字" class="fl"> <span class="fr"></span>
		</div>
	</div>

	<div class="nav">
		<div class="w navbar">
			<ul class="navList">
				<li class="item fl">
					<a href="../index.html">首页</a>

				</li>
				<li class="item fl">
					<a href="javascript:;">女士</a>
					
				</li> 
				<li class="item fl">
					<a href="javascript:;">男士</a>
				</li>
				<li class="item fl">
					<a href="javascript:;">品牌</a>
				</li>
			</ul>
		</div>
		<div class="itemList">
			<ol class="w">
				
			</ol>
		</div>
	</div>

	<div class="bgGray" style="padding-top: 20px;">
		<h3 class="w" style="height: 70px;background: #fff;margin-bottom: 20px;"><span style="font-size: 24px;color:#333;line-height: 70px;padding-left: 20px;font-weight: bold;">女士</span></h3>
		<div class="w">
			<div class="productList clearfix">
				<div class="productCag fl">
					<div class="goodsClass">
						<div><span>商品分类</span><span class="plus">-</span></div>
						<ul>
							<li>包袋</li>
							<li>配饰</li>
							<li>鞋履</li>
							<li>美妆个护</li>
							<li>腕表</li>
							<li>服装</li>
							<li>品质家居</li>
							<li>厨房天地</li>
							<li>创意生活</li>
							
						</ul>
					</div>
					<div class="goodsClass">
						<div><span>性别</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>品牌</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>价格</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>颜色</span><span class="plus">+</span></div>
					</div>
				</div>
				<div class="productMain fr">
					<div class="prdTop clearfix">
						<ul class="clearfix fl">
							<li class="first" style="color: #555;font-weight: bold;">排序:</li>
							<li>新品</li>
							<li>人气</li>
							<li>价格</li>
						</ul>
						<div class="navigation fr">
							<span>12个结果</span>
							<a href="javascript:;" class="cur">1</a>
							<!-- <a href="javascript:;" style="margin-right: 35px;">2</a>
							<a href="javascript:;" class="cut">></a> -->
						</div>
					</div>
					<div class="prods clearfix">
						<ul class="clearfix">
							<li>
								<img src="../img/w1.jpg" alt="">
								<div class="price">
									<p class="tit">Gucci 古驰</p>
									<p>2017年全新款式时尚女士光...</p>
									<span>￥1620.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w2.jpg" alt="">
								<div class="price">
									<p class="tit">Saint Laurent 圣罗兰</p>
									<p>皮革 女士 长钱包</p>
									<span>￥1440.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w3.jpg" alt="">
								<div class="price">
									<p class="tit">ELITESIGNER x SIA KARA... </p>
									<p>9K黄金精华素耳扣</p>
									<span>￥860.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w4.jpg" alt="">
								<div class="price">
									<p class="tit">ELITESIGNER x SIA KARA... </p>
									<p>9K黄金精华素耳环</p>
									<span>￥880.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w5.jpg" alt="">
								<div class="price">
									<p class="tit">ELITESIGNER x SIA KARA... </p>
									<p>14K黄金精华素双链吊坠</p>
									<span>￥3600.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w6.jpg" alt="">
								<div class="price">
									<p class="tit">ELITESIGNER x SIA KARA... </p>
									<p>9K黄金精华素耳钉</p>
									<span>￥1750.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w7.jpg" alt="">
								<div class="price">
									<p class="tit">Fondamentale</p>
									<p>羊绒99% 女士 围巾</p>
									<span>￥690.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w8.jpg" alt="">
								<div class="price">
									<p class="tit">Fondamentale</p>
									<p>羊绒99% 女士 围巾</p>
									<span>￥690.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w9.jpg" alt="">
								<div class="price">
									<p class="tit">Fondamentale</p>
									<p>羊绒99%+羊皮流苏 女士 围巾</p>
									<span>￥960.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w10.jpg" alt="">
								<div class="price">
									<p class="tit">Fondamentale</p>
									<p>羊绒99% 女士 围巾</p>
									<span>￥790.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w11.jpg" alt="">
								<div class="price">
									<p class="tit">Fondamentale</p>
									<p>羊毛99% 女士 围巾</p>
									<span>￥360.00</span>
								</div>
							</li>
							<li>
								<img src="../img/w12.jpg" alt="">
								<div class="price">
									<p class="tit">Fondamentale</p>
									<p>羊毛99% 女士 围巾</p>
									<span>￥360.00</span>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<div class="w page">
			<ul>
				<li class="first">100%正品保证</li>
				<li class="second">7天无忧退货</li>
				<li class="last">九年专注,品质保障</li>
			</ul>
		</div>
	</div>
</body>
<script src="../js/index.js"></script>
<script >
	$(function(){
		ML.dior && ML.dior.init();
	})
</script>
</html>
