<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美联—发现全球独立设计，全球奢侈品购物网站,奢侈品网购，正品折扣,尽在美联购物</title>
	<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/dior.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<script src="../js/jquery-1.12.4.min.js"></script>
	<script src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../dist/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/language/zh_CN.js"></script>
	<script type="text/javascript" src="../js/login.js"></script>
	<style>
		.text{
			text-align: left;
			padding: 0 0 5px 0;
		}
		a.edit,a.remove{
			color: #CCC;
		}
	</style>
</head>
<body ng-app="app" ng-controller="shopCtrl">
	<div app-head></div>

	<div class="w banner">
		<div class="logo"><img src="../img/logo.png" alt=""></div>
		<div class="searchArea ">
			<input type="text" placeholder="请输搜索关键字" class="fl"> <span class="fr"></span>
		</div>
	</div>

	<div class="nav">
		<div class="w navbar">
			<ul class="navList">
				<li class="item fl">
					<a href="../index.html">首页</a>

				</li>
				<li class="item fl">
					<a href="javascript:;">女士</a>
					
				</li> 
				<li class="item fl">
					<a href="javascript:;">男士</a>
				</li>
				<li class="item fl">
					<a href="javascript:;">品牌</a>
				</li>
			</ul>
		</div>
		<div class="itemList">
			<ol class="w">
				
			</ol>
		</div>
	</div>

	<div class="shop">
		<div class="w">
			
			<h3 style="text-align: left;border-bottom: 1px solid #333;height: 40px;line-height: 40px;">收货地址</h3>
			<div class="panel-body address-list"> 
				<div class="address-item add" style="margin: 20px 20px 0 0;width: 200px;float: left;padding: 5px 8px 2px;border: 3px dashed #ccc;cursor: pointer;"> 
					<div class="address-new" style="padding: 6px;text-align: center;color: #ccc;"> <i class="fa fa-plus" style="font-size: 50px;line-height: 50px;"></i>
					 <div class="text">使用新地址</div> 
					</div> 
				</div>
			</div>
		</div>
		<div class="w" style="border:solid 1px #e8e8e8;" >
			
			<div class="tableHead" ng-show="list.length">
				<table class="table ">
					<thead style="background: #f5f5f5;">
						<tr>
							<td style="width: 70px;">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" class="selectAll"> 全选
								    </label>
								</div>
							</td>
							<td>商品信息</td>
							<td>单价(元)</td>
							<td>数量</td>
							<td>小计</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in list">
							<td >
								<div class="checkbox">
								    <label>
								      <input type="checkbox">
								    </label>
								</div>
							</td>
							<td ng-bind="{{item.id}}"></td>
							<td ng-bind="{{item.price}}"></td>
							<td>
								<button class="btn btn-default" ng-click="reduce(item.id)">-</button>
								<input type="number" ng-model="item.number"  value="{{item.number}}" style="border:1px solid #999!important">
								<button class="btn btn-default" ng-click="add(item.id)">+</button>
							</td>
							<td >{{item.price * item.number}}</td>
							<td >
								<button class="btn btn-link" ng-click = "remove(item.id)">移除</button>
							</td>
						</tr>

						<tr>
							<td  class="red" >总价</td>
							<td  class="red">{{totalPrice()}}元</td>
							<td class="red">总购买数</td>
							<td class="red">{{totalNum()}}</td>
							<td colspan="2"><button class="btn btn-danger" ng-click="list = {}">清空购物车</button></td>
							
						</tr>
						<tr>
							<td colspan="5"><button class="btn btn-lg btn-danger">提交订单</button></td>
						</tr>
					</tbody>
				</table>

			</div>
				
			
			
		</div>
	</div>
	
	<div class="favorite w">
		<div class="top">
			<h3>猜你喜欢</h3>
		</div>
		<div class="showFavorite">
			<ul class="clearfix">
				<li>
					<img src="../img/cai1.JPG" alt="">
					<p>Petite Studio</p>
					<p>混合羊毛 女士 西装套装</p>
					<p>￥1516.00</p>
				</li>
				<li>
					<img src="../img/cai2.JPG" alt="">
					<p>Patek Philippe 百达翡丽</p>
					<p>CALATRAVA系列 鳄鱼皮 男士机...</p>
					<p>￥18832.00</p>
				</li>
				<li>
					<img src="../img/cai3.JPG" alt="">
					<p>O.YANG</p>
					<p>【O.YANG专卖店】英国O.YANG...</p>
					<p>￥612.00</p>
				</li>
				<li>
					<img src="../img/cai4.JPG" alt="">
					<p>Frankie Morello 弗兰基.莫雷诺</p>
					<p>WIFI眼 男士卫衣</p>
					<p>￥595.00</p>
				</li>
			</ul>
			<div class="pre_btn"></div>
			<div class="next_btn"></div>
		</div>
	</div>


	<div class="footer">
		<div class="w page">
			<ul>
				<li class="first">100%正品保证</li>
				<li class="second">7天无忧退货</li>
				<li class="last">九年专注,品质保障</li>
			</ul>
		</div>
	</div>


	<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="height: 500px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					填写地址
				</h4>
			</div>
			<div class="modal-body">
				<div class="container">
				      <div class="row" style="margin-top: 20px;">
				    	 <label for="">收货人：</label>
			       		<input type="text" class="username" name="username" style="border:1px solid rgb(169, 169, 169);">
				    </div>
				    <div class="row" style="margin-top: 20px;">
				       <label for="">选择省份：</label>
				        <select class=" province" name="province"  >
				        </select>
					</div>
				    <div class="row" style="margin-top: 20px;">
				    	 <label for="">选择市：</label>
			       		<select class=" city" name="city">
			        	</select>
				    </div>
				    <div class="row" style="margin-top: 20px;">
				    	 <label for="">选择县/区：</label>
			       		<select class=" district" name="district" >
			        	</select>
				    </div>
				     <div class="row" style="margin-top: 20px;">
				    	 <label for="">详细地址：</label>
			       		<input type="text" class="detailAddress" name="detailAddress" style="border:1px solid rgb(169, 169, 169);">
				    </div>
				     <div class="row" style="margin-top: 20px;">
				    	 <label for="">联系电话：</label>
			       		<input type="text" class="phone" name="phone" style="border:1px solid rgb(169, 169, 169);">
				    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary addressbtn">
					提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</body>
<script src="../js/index.js"></script>
<script >
	$(function(){
		ML.order && ML.order.init();
	})
</script>
<script type="text/javascript" src="../js/shopping.js"></script>
</html>
