<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美联—发现全球独立设计，全球奢侈品购物网站,奢侈品网购，正品折扣,尽在美联购物</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/dior.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<script src="../js/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="top">
		<div class="w">
			<p class="fr">
				<a href="login.html">登录</a>
				<a href="register.html">注册</a>
				<a href="shopping.html"><em></em>购物袋(0)</a>
			</p>
		</div>
	</div>

	<div class="w banner">
		<div class="logo"><img src="../img/logo.png" alt=""></div>
		<div class="searchArea ">
			<input type="text" placeholder="请输搜索关键字" class="fl"> <span class="fr"></span>
		</div>
	</div>

	<div class="nav">
		<div class="w navbar">
			<ul class="navList">
				<li class="item fl">
					<a href="../index.html">首页</a>

				</li>
				<li class="item fl">
					<a href="javascript:;">女士</a>
					
				</li> 
				<li class="item fl">
					<a href="javascript:;">男士</a>
				</li>
				<li class="item fl">
					<a href="javascript:;">品牌</a>
				</li>
			</ul>
		</div>
		<div class="itemList">
			<ol class="w">
				
			</ol>
		</div>
	</div>

	<div class="shop">
		
		<div class="w" style="height: 362px;border:solid 1px #e8e8e8;" >
			<div class="cartNone"></div>
			<p class="cartTip">购物车内暂时没有商品</p>
			<p>登录后将显示您之前加入的商品</p>
			<div class="member_form_btn">
					<button style="margin-right: 20px;"><a href="login.html" style="color: #fff;">登录</a></button>
					<button><a href="../index.html" style="color: #fff;">随便逛逛</a></button>
			</div>
		</div>
	</div>
	
	<div class="favorite w">
		<div class="top">
			<h3>猜你喜欢</h3>
		</div>
		<div class="showFavorite">
			<ul class="clearfix">
				<li>
					<img src="../img/cai1.JPG" alt="">
					<p>Petite Studio</p>
					<p>混合羊毛 女士 西装套装</p>
					<p>￥1516.00</p>
				</li>
				<li>
					<img src="../img/cai2.JPG" alt="">
					<p>Patek Philippe 百达翡丽</p>
					<p>CALATRAVA系列 鳄鱼皮 男士机...</p>
					<p>￥18832.00</p>
				</li>
				<li>
					<img src="../img/cai3.JPG" alt="">
					<p>O.YANG</p>
					<p>【O.YANG专卖店】英国O.YANG...</p>
					<p>￥612.00</p>
				</li>
				<li>
					<img src="../img/cai4.JPG" alt="">
					<p>Frankie Morello 弗兰基.莫雷诺</p>
					<p>WIFI眼 男士卫衣</p>
					<p>￥595.00</p>
				</li>
			</ul>
			<div class="pre_btn"></div>
			<div class="next_btn"></div>
		</div>
	</div>


	<div class="footer">
		<div class="w page">
			<ul>
				<li class="first">100%正品保证</li>
				<li class="second">7天无忧退货</li>
				<li class="last">九年专注,品质保障</li>
			</ul>
		</div>
	</div>
</body>
<script src="../js/index.js"></script>
<script >
	$(function(){
		ML.dior && ML.dior.init();
	})
</script>
</html>
