<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美联—发现全球独立设计，全球奢侈品购物网站,奢侈品网购，正品折扣,尽在美联购物</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/dior.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<script src="../js/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="top">
		<div class="w">
			<p class="fr">
				<a href="login.html">登录</a>
				<a href="register.html">注册</a>
				<a href="shopping.html"><em></em>购物袋(0)</a>
			</p>
		</div>
	</div>

	<div class="w banner">
		<div class="logo"><img src="../img/logo.png" alt=""></div>
		<div class="searchArea ">
			<input type="text" placeholder="请输搜索关键字" class="fl"> <span class="fr"></span>
		</div>
	</div>

	<div class="nav">
		<div class="w navbar">
			<ul class="navList">
				<li class="item fl">
					<a href="../index.html">首页</a>

				</li>
				<li class="item fl">
					<a href="javascript:;">女士</a>
					
				</li> 
				<li class="item fl">
					<a href="javascript:;">男士</a>
				</li>
				<li class="item fl">
					<a href="javascript:;">品牌</a>
				</li>
			</ul>
		</div>
		<div class="itemList">
			<ol class="w">
				
			</ol>
		</div>
	</div>

	<div class="bgGray" style="padding-top: 20px;">
	
		<div class="w">
			<div class="productList clearfix">
				<div class="productCag fl">
					<div class="goodsClass">
						<div><span>商品分类</span><span class="plus">-</span></div>
						<ul>
							<li>配饰</li>
							<li>服装</li>
							
						</ul>
					</div>
					<div class="goodsClass">
						<div><span>性别</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>品牌</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>价格</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>颜色</span><span class="plus">+</span></div>
					</div>
				</div>
				<div class="productMain fr">
					<div class="prdTop clearfix">
						<ul class="clearfix fl">
							<li class="first" style="color: #555;font-weight: bold;">排序:</li>
							<li>新品</li>
							<li>人气</li>
							<li>价格</li>
						</ul>
						<div class="navigation fr">
							<span>8个结果</span>
							<a href="javascript:;" class="cur">1</a>
							<!-- <a href="javascript:;" style="margin-right: 35px;">2</a>
							<a href="javascript:;" class="cut">></a> -->
						</div>
					</div>
					<div class="prods clearfix">
						<ul class="clearfix">
							<li>
								<img src="../img/f1.jpg" alt="">
								<div class="price">
									<p class="tit">Sretsis</p>
									<p>Sretsis 针织飞马高领毛衣</p>
									<span>￥2660.00</span>
								</div>
							</li>
							<li>
								<img src="../img/f2.jpg" alt="">
								<div class="price">
									<p class="tit">Sretsis</p>
									<p>Sretsis 针织飞马高领毛衣</p>
									<span>￥2660.00</span>
								</div>
							</li>
							<li>
								<img src="../img/f3.jpg" alt="">
								<div class="price">
									<p class="tit">Sretsis</p>
									<p>Sretsis</p>
									<span>￥1990.00</span>
								</div>
							</li>
							<li>
								<img src="../img/f4.jpg" alt="">
								<div class="price">
									<p class="tit">THEA by Thara</p>
									<p>长袖单扣西装外套</p>
									<span>￥2650.00</span>
								</div>
							</li>
							<li>
								<img src="../img/f5.jpg" alt="">
								<div class="price">
									<p class="tit" title="">POEM</p>
									<p>POEM 软鱼骨一字领上衣</p>
									<span>￥1900.00</span>
								</div>
							</li>
							<li>
								<img src="../img/f6.jpg" alt="">
								<div class="price">
									<p class="tit">THEA by Thara</p>
									<p>花朵拼接丝绒连衣裙</p>
									<span>￥2500.00</span>
								</div>
							</li>
							<li>
								<img src="../img/f7.jpg" alt="">
								<div class="price">
									<p class="tit">Sretsis</p>
									<p>Sretsis 星空主题 超长连衣裙</p>
									<span>￥5940.00</span>
								</div>
							</li>
							<li>
								<img src="../img/f8.jpg" alt="">
								<div class="price">
									<p class="tit">Sretsis</p>
									<p>Sretsis 星空主题 超长连衣裙</p>
									<span>￥4060.00</span>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<div class="w page">
			<ul>
				<li class="first">100%正品保证</li>
				<li class="second">7天无忧退货</li>
				<li class="last">九年专注,品质保障</li>
			</ul>
		</div>
	</div>
</body>
<script src="../js/index.js"></script>
<script >
	$(function(){
		ML.dior && ML.dior.init();
	})
</script>
</html>
