<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美联—发现全球独立设计，全球奢侈品购物网站,奢侈品网购，正品折扣,尽在美联购物</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/dior.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<script src="../js/jquery-1.12.4.min.js"></script>
	<script src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../dist/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="../dist/validator/dist/js/language/zh_CN.js"></script>
</head>
<body ng-app="app">
	<div app-head></div>

	<div class="w banner">
		<div class="logo"><img src="../img/logo.png" alt=""></div>
		<div class="searchArea ">
			<input type="text" placeholder="请输搜索关键字" class="fl"> <span class="fr"></span>
		</div>
	</div>

	<div class="nav">
		<div class="w navbar">
			<ul class="navList">
				<li class="item fl">
					<a href="../index.html">首页</a>

				</li>
				<li class="item fl">
					<a href="javascript:;">女士</a>
					
				</li> 
				<li class="item fl">
					<a href="javascript:;">男士</a>
				</li>
				<li class="item fl">
					<a href="javascript:;">品牌</a>
				</li>
			</ul>
		</div>
		<div class="itemList">
			<ol class="w">
				
			</ol>
		</div>
	</div>

	<div class="bgGray" style="padding-top: 20px;">
	
		<div class="w">
			<div class="productList clearfix">
				<div class="productCag fl">
					<div class="goodsClass">
						<div><span>商品分类</span><span class="plus">-</span></div>
						<ul>
							<li>服装</li>
							
						</ul>
					</div>
					<div class="goodsClass">
						<div><span>性别</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>品牌</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>价格</span><span class="plus">+</span></div>
					</div>
					<div class="goodsClass">
						<div><span>颜色</span><span class="plus">+</span></div>
					</div>
				</div>
				<div class="productMain fr">
					<div class="prdTop clearfix">
						<ul class="clearfix fl">
							<li class="first" style="color: #555;font-weight: bold;">排序:</li>
							<li>新品</li>
							<li>人气</li>
							<li>价格</li>
						</ul>
						<div class="navigation fr">
							<span>8个结果</span>
							<a href="javascript:;" class="cur">1</a>
							<!-- <a href="javascript:;" style="margin-right: 35px;">2</a>
							<a href="javascript:;" class="cut">></a> -->
						</div>
					</div>
					<div class="prods clearfix">
						<ul class="clearfix">
							<li>
								<img src="../img/s11.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>WIFI眼 男士卫衣</p>
									<span>￥1190.00</span>
								</div>
							</li>
							<li>
								<img src="../img/s22.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>WIFI眼 男士卫衣</p>
									<span>￥1190.00</span>
								</div>
							</li>
							<li>
								<img src="../img/s33.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>金龟子图案金银丝钩花羊毛衫</p>
									<span>￥1790.00</span>
								</div>
							</li>
							<li>
								<img src="../img/s44.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>科技印花长袖连帽开衫卫衣</p>
									<span>￥2590.00</span>
								</div>
							</li>
							<li>
								<img src="../img/s55.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>科技印花夹棉男士运动短夹克</p>
									<span>￥5390.00</span>
								</div>
							</li>
							<li>
								<img src="../img/s66.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>机械羽翼休闲卫衣</p>
									<span>￥1690.00</span>
								</div>
							</li>
							<li>
								<img src="../img/s77.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>印花图腾羊毛衫</p>
									<span>￥1690.00</span>
								</div>
							</li>
							<li>
								<img src="../img/s88.jpg" alt="">
								<div class="price">
									<p class="tit">Frankie Morello 弗兰基.莫...</p>
									<p>全印花长袖开衫卫衣</p>
									<span>￥2490.00</span>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<div class="w page">
			<ul>
				<li class="first">100%正品保证</li>
				<li class="second">7天无忧退货</li>
				<li class="last">九年专注,品质保障</li>
			</ul>
		</div>
	</div>
</body>
<script src="../js/index.js"></script>
<script >
	$(function(){
		ML.dior && ML.dior.init();
	})
</script>
</html>
